In [1]:
import sys
import os
import impala
import numpy
import pandas as pd

In [ ]:
sys.version_info

In [ ]:
sys.executable

In [ ]:
# # This is the version that should work but has library problems.
# from impala.dbapi import connect
# from impala.util import as_pandas

# def get_data_from_impala(query_string):
#     if not isinstance(query_string, str):
#         raise TypeError('query_string must be a string!')
#     conn = connect(host='dn1wow.prod.avvo.com', port=21050, database='dm', use_kerberos=True,
#                    kerberos_service_name='impala')
#     cur = conn.cursor()
#     cur.execute(query_string)
#     output_df = as_pandas(cur)
#     conn.close()
#     return output_df

In [3]:
# This is the hack to read from a csv instead.
def get_data_from_impala(query_string):
    if not isinstance(query_string, str):
        raise TypeError('query_string must be a string!')
    output_df = pd.read_csv("C:\Users\croberts\Documents\projects\deferred revenue\deferred_revenue_dataset_sample.csv")
    return output_df

In [6]:
query = "select * from tmp_data_dm.coe_deferred_revenue_dataset_1"
df = get_data_from_impala(query)

In [6]:
df

,ad_mkt_key,ad_market_id,professional_id,ad_type,ad_impressions,target_impressions,ad_sold_price,year_month_num,over_under,prev_month_over_under,relative_months,deferral_need
0,436744,722956,950486,Sponsored Listing,906,600,216.00,201605,306,296,0,NaN
1,436744,722956,950486,Sponsored Listing,590,600,216.00,201604,-10,322,1,NaN
2,436744,722956,950486,Sponsored Listing,626,600,216.00,201603,26,272,2,NaN
3,436744,722956,950486,Sponsored Listing,57,107,37.20,201602,-50,272,3,NaN
4,178129,5241,820246,Sponsored Listing,8231,8700,956.70,201604,-469,-229,0,NaN
5,178129,5241,820246,Sponsored Listing,9240,9000,956.70,201603,240,-66,1,NaN
6,178129,5241,820246,Sponsored Listing,9163,9000,956.70,201602,163,185,2,NaN
7,178129,5241,820246,Sponsored Listing,9251,9000,956.70,201601,251,1290,3,NaN
8,178129,5241,820246,Sponsored Listing,9815,8710,894.60,201512,1105,1290,4,NaN
9,433944,718932,82670,Sponsored Listing,7261,7500,1500.00,201605,-239,-876,0,NaN
10,433944,718932,82670,Sponsored Listing,6863,7500,1500.00,201604,-637,-690,1,NaN
11,433944,718932,82670,Sponsored Listing,7686,7500,1100.00,201603,186,-451,2,NaN
12,433944,718932,82670,Sponsored Listing,6674,6435,870.26,201602,239,-119,3,NaN
13,433944,718932,82670,Sponsored Listing,4332,4000,400.00,201601,332,436,4,NaN
14,433944,718932,82670,Sponsored Listing,3781,3226,309.60,201512,555,436,5,NaN
15,440141,747928,806966,Sponsored Listing,1657,1100,495.00,201605,557,208,0,NaN
16,440141,747928,806966,Sponsored Listing,751,1100,495.00,201604,-349,260,1,NaN
17,440141,747928,806966,Sponsored Listing,890,838,364.32,201603,52,323,2,NaN
18,440141,747928,806966,Sponsored Listing,263,200,90.00,201602,63,423,3,NaN
19,440141,747928,806966,Sponsored Listing,300,200,90.00,201601,100,829,4,NaN
20,440141,747928,806966,Sponsored Listing,606,200,87.08,201512,406,829,5,NaN
21,440082,747869,806966,Sponsored Listing,586,193,150.00,201506,393,880,0,NaN
22,440082,747869,806966,Sponsored Listing,687,200,150.00,201505,487,1424,1,NaN
23,440082,747869,806966,Sponsored Listing,744,200,150.00,201504,544,2104,2,NaN
24,440082,747869,806966,Sponsored Listing,880,200,150.00,201503,680,2600,3,NaN
25,440082,747869,806966,Sponsored Listing,696,200,150.00,201502,496,3072,4,NaN
26,440082,747869,806966,Sponsored Listing,646,174,125.80,201501,472,3072,5,NaN
27,434562,722277,820246,Sponsored Listing,1974,1100,107.91,201605,874,845,0,NaN
28,434562,722277,820246,Sponsored Listing,1071,1100,107.91,201604,-29,832,1,NaN
29,434562,722277,820246,Sponsored Listing,1087,1100,107.91,201603,-13,848,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
32,434562,722277,820246,Sponsored Listing,1253,1065,100.87,201512,188,1088,5,NaN
33,440081,747868,806966,Sponsored Listing,2599,1700,697.00,201605,899,1345,0,NaN
34,440081,747868,806966,Sponsored Listing,2146,1700,697.00,201604,446,1807,1,NaN
35,440081,747868,806966,Sponsored Listing,2162,1700,697.00,201603,462,1852,2,NaN
36,440081,747868,806966,Sponsored Listing,1745,1700,697.00,201602,45,2124,3,NaN
37,440081,747868,806966,Sponsored Listing,1972,1700,697.00,201601,272,2665,4,NaN
38,440081,747868,806966,Sponsored Listing,2241,1700,697.00,201512,541,3114,5,NaN
39,440081,747868,806966,Sponsored Listing,2149,1700,697.00,201511,449,4081,6,NaN
40,440081,747868,806966,Sponsored Listing,2667,1700,697.00,201510,967,5285,7,NaN
41,440081,747868,806966,Sponsored Listing,2904,1700,697.00,201509,1204,6714,8,NaN
42,440081,747868,806966,Sponsored Listing,3129,1700,697.00,201508,1429,8018,9,NaN
43,440081,747868,806966,Sponsored Listing,2669,1365,542.17,201507,1304,8678,10,NaN
44,440081,747868,806966,Sponsored Listing,1060,400,164.00,201506,660,10249,11,NaN
45,440081,747868,806966,Sponsored Listing,1971,400,164.00,201505,1571,11853,12,NaN
46,440081,747868,806966,Sponsored Listing,2004,400,164.00,201504,1604,12639,13,NaN
47,440081,747868,806966,Sponsored Listing,1186,400,164.00,201503,786,14143,14,NaN
48,440081,747868,806966,Sponsored Listing,1904,400,164.00,201502,1504,16244,15,NaN
49,440081,747868,806966,Sponsored Listing,2449,348,137.52,201501,2101,16244,16,NaN
50,184721,16378,806966,Sponsored Listing,1968,1000,450.00,201605,968,1246,0,NaN
51,184721,16378,806966,Sponsored Listing,1278,1000,450.00,201604,278,1722,1,NaN
52,184721,16378,806966,Sponsored Listing,1476,1000,450.00,201603,476,2759,2,NaN
53,184721,16378,806966,Sponsored Listing,2037,1000,450.00,201602,1037,4018,3,NaN
54,184721,16378,806966,Sponsored Listing,2259,1000,450.00,201601,1259,5301,4,NaN
55,184721,16378,806966,Sponsored Listing,2283,1000,450.00,201512,1283,6720,5,NaN
56,184721,16378,806966,Sponsored Listing,2419,1000,450.00,201511,1419,7719,6,NaN
57,184721,16378,806966,Sponsored Listing,1999,1000,450.00,201510,999,7393,7,NaN
58,184721,16378,806966,Sponsored Listing,674,1000,450.00,201509,-326,7339,8,NaN
59,184721,16378,806966,Sponsored Listing,946,1000,450.00,201508,-54,7655,9,NaN
60,184721,16378,806966,Sponsored Listing,1316,1000,450.00,201507,316,7666,10,NaN
61,184721,16378,806966,Sponsored Listing,444,433,180.00,201506,11,7666,11,NaN

In [7]:
groups = df.groupby("processing_id")
groups.groups

{'16378-806966': [0L, 1L, 2L, 3L, 4L, 5L, 6L, 7L, 8L, 9L, 10L, 11L],
 '5241-820246': [29L, 30L, 31L, 32L, 33L],
 '718932-82670': [50L, 51L, 52L, 53L, 54L, 55L],
 '722277-820246': [40L, 41L, 42L, 43L, 44L, 45L],
 '722956-950486': [46L, 47L, 48L, 49L],
 '747868-806966': [12L,
  13L,
  14L,
  15L,
  16L,
  17L,
  18L,
  19L,
  20L,
  21L,
  22L,
  23L,
  24L,
  25L,
  26L,
  27L,
  28L],
 '747869-806966': [34L, 35L, 36L, 37L, 38L, 39L],
 '747928-806966': [56L, 57L, 58L, 59L, 60L, 61L]}

In [ ]:
# print(df[ df['processing_id'] == '5241-820246' ])
# keys = groups.groups.keys()
# for key in keys:
#     print key
#     print(df[df['processing_id']==key])
#     print(df[df['processing_id']==key,'year_month_num'])

In [ ]:
df2 = df[df['processing_id']=='5241-820246']
# df2[:,'year_month_num']
df2

In [ ]:
# This takes a single customer's rows and loops through them in order of month (ascending).
# There's likely a more idiomatic way to do this, but f*ck stackoverflow.
for month in df2["year_month_num"].sort_values():
    print("Month: {}".format(month))
#     print("Row: {}".format(df2[df2['year_month_num']==month,c("ad_type","ad_sold_price")]))

In [ ]:
# df2[df2['year_month_num']==month].info()
print("Row filter: {}\n".format(df2[df2['year_month_num']==month]))
print("Column Filter: {}\n".format(df2[["ad_mkt_key","year_month_num"]]))
print("Both: {}".format(df2[df2['year_month_num']==month][["ad_mkt_key","year_month_num"]]))

In [ ]:
# Seems a convoluted way to get to the single scalar value.
df1["over_under"][df1['year_month_num']==month].values[0]

In [ ]:
print("pid, ad_market_id, professional_id, month, over_under")
for pid in df["processing_id"].unique():
    df1 = df[df['processing_id']==pid]
#     print df1
    for month in df1["year_month_num"].sort_values():
        print("{},{},{},{},{}".format(pid
                               ,df1[df1['year_month_num']==month]["ad_market_id"].values[0]
                               ,df1[df1['year_month_num']==month]["professional_id"].values[0]
                               ,month
                               ,df1[df1['year_month_num']==month]["over_under"].values[0]))

In [1]:
print "\n", loop_counter++

SyntaxError: invalid syntax (<ipython-input-1-75f558f6a44c>, line 1)